@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*utilities*/
body{
    font-family: 'Be Vietnam', sans-serif;
    font-weight: 500;
    background: url(../images/bg-tablet-pattern.svg) no-repeat  820px -250px;
    overflow-x: hidden; 
    
}
/*navbar*/

.navbutton-color{
    background: hsl(12, 88%, 59%);
    border-style: none;
}
.navbutton-color:hover {
    background: hsl(13, 100%, 96%);
}
.weig{
    font-weight: bolder;
}

/*landedpage*/
.landedpage {
    height: 80vh;

}

.space{
    margin-top: 5rem;
    margin-bottom: 3rem;
}
.transparent{
    background: transparent;
}

@media(max-width:767px){
    .space{
        display: flex;
        flex-direction:column-reverse;
    }
    .space .ms:first-child{
        order: 1;
    }
    .width{
        width: 15rem;
        align-content: center;
    }
    .moving{
        justify-content: center;
        margin-top: 1rem;
    }
    
}
